a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: black;
}
.mainMenu {
  height: 100%;
  position: relative;
}
.mainMenu .col-md-2 {
  position: relative;
  height: 100%;
}
.mainMenu .bottom-align {
  position: absolute;
  bottom: 0;
}
.mainMenu ul {
  margin-bottom: 250px;
}
.mainMenu ul li {
  margin-bottom: 15px;
  padding-right: 7px;
  font-size: 40px;
  text-align: right;
  color: gray;
  position: relative;
}
.mainMenu ul li a {
  margin-bottom: -30px;
  color: inherit;
}
.mainMenu ul li a .accent {
  font-size: 25px;
  margin-bottom: -20px;
  color: darkgray;
  top: -15px;
  right: 10px;
  position: absolute;
}
.mainMenu ul li:hover {
  color: black;
  border-right: solid;
  border-right-width: 2px;
  margin-right: 0;
}
.mainMenu ul li:hover a {
  color: black;
}
.mainMenu .me {
  height: 66px;
  font-size: 60px !important;
  border-right: solid !important;
  border-right-width: 2px !important;
  color: black !important;
}
.mainMenu h1 {
  font-size: 60px;
}
.mainContainer {
  height: 100%;
}
.mainBody {
  height: 100%;
}